.layout-container {
    background-color: #f4f4f4;
}

.layout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eff1f4;
}

.layout-logo {
    color: #f4f4f4;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

.layout-menu {
    flex: 3;
   
    background: transparent;
    border-bottom: none;
    justify-content: center;
}

.layout-menu .ant-menu-item a {
    color: #1710d6;
    font-size: 16px;
}

.layout-menu .ant-menu-item-selected a {
    color: #3a86ff; /* Bright blue accent */
}

.layout-avatar {
    background-color: #3a86ff;
    cursor: pointer;
    transition: transform 0.3s;
}

.layout-avatar:hover {
    transform: scale(1.1);
}

.layout-content {
   

    background: #f0f2f5;
}

.layout-inner-content {
    margin: 0 auto;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.layout-footer {
    text-align: center;
    background: #f8f9fa; /* Soft light */
    padding: 20px;
    font-size: 14px;
    color: #888;
}
